{% extends "home-base.html"%}
{% block title %}All Courses{% endblock %}
{% block head%}
  {{ super() }}
{% endblock%}
{% block page_content%}

<!-- Page Content -->
<div class="container">
<h1 class="mt-5"><i class="fa fa-search-plus" aria-hidden="true"></i> Add Courses:</h1>
<form action="/courses/add" method="post">
  <div class="form-group">
    <label>Course number</label>
    <input class="form-control" type="text" name="num" placeholder="Course number" required="true">
  </div>
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" name="title" placeholder="Course title" required="true">
  </div>
  <div class="form-group">
    <label>Professor</label>
    <select class="form-control" name="professor">
      {% for professor in professors %}
          <option>{{professor.name}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    Professor not in the list? <a href="/professor/add" class="btn btn-success" role="button" aria-disabled="true">Add Professors</a>
  </div>

  <div class="form-group">
    <label>Descriptions</label>
    <textarea class="form-control" name="description" placeholder="Description" required="true"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Add Course</button>
</form>
</div>

{% endblock%}
