{% extends "home-base.html"%}
{% block title %}All Courses{% endblock %}
{% block head%}
  {{ super() }}
{% endblock%}
{% block page_content%}

<!-- Page Content -->
<div class="container">
  <h1 class="mt-5"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Edit Professor:</h1>
  <form action="/professor/edit/{{professor.id}}" method="post">
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" type="text" name="name" value="{{professor.name}}" required="true">
    </div>
    <div class="form-group">
      <label>Department</label>
      <textarea class="form-control" name="department" required="true">{{professor.department}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>
</div>

{% endblock%}
