{% extends "home-base.html"%}
{% block title %}Delete Professor{% endblock %}
{% block page_content%}

  <!-- Page Content -->
  <div class="container">
    <h1 class="mt-5"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Delete Professor:</h1>
    <form action="/professor/delete/{{professor.id}}" method="post">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" name="name" value="{{professor.name}}" required="true" readonly="true">
      </div>
      <div class="form-group">
        <label>Department</label>
        <textarea class="form-control" name="department" required="true" readonly="true">{{professor.department}}</textarea>
      </div>
      <button type="submit" class="btn btn-danger" id="delete_btn">Delete</button>
    </form>
  </div>

{% endblock%}

{% block scripts%}
  {{super()}}
  <script>
  $(document).ready(function () {
    $('#delete_btn').click(function () {
      if (! confirm('All related courses will be deleted too!! Are you sure?')) {
        return false;
      }
    })
  });
  </script>
{% endblock%}
